#{extends 'main.html' /}
#{set title:'Home' /}

<div id="dialog">
</div>

<div class="roundedDiv">
  <h3>&{'votreDeck'}</h3>
#{form @saveDeck()}
  <input type="hidden" name="partieId" value="${partie.id}">
  <textarea type="text" name="texte" cols = "80" rows="20" ></textarea>
  <input class="espaceSup5" type="submit" value="&{'creation'}" />
#{/form}

<div class="line">
<div class="unit size1of4"><h3>Blanc-rouge :</h3>
<textarea cols = "25" rows="8">
1 Midnight Haunting
1 Thraben Sentry
      1 Doomed Traveler
1 Rally the Peasants
1 Feral Ridgewolf
1 Cloistered Youth
1 Bonds of Faith
3 Selfless Cathar
1 Brimstone Volley
1 Into the Maw of Hell
9 Plains
2 Silverchase Fox
1 Skirsdag Cultist
7 Mountain
1 Voiceless Spirit
3 Harvest Pyre
1 Kessig Wolf
      1 Smite the Monstrous
2 Elite Inquisitor
1 Mausoleum Guard
</textarea>

</div>
<div class="unit size1of4"><h3>Vert-rouge :</h3>
<textarea cols = "25" rows="8">
      1 Hanweir Watchkeep
1 Kruin Outlaw
      1 Ulvenwald Mystics
2 Woodland Sleuth
1 Somberwald Spider
1 Full Moon's Rise
1 Geistflame
9 Forest
2 Caravan Vigil
      1 Moonmist
1 Feral Ridgewolf
1 Gatstaf Shepherd
1 Skirsdag Cultist
2 Hollowhenge Scavenger
1 Avacyn's Pilgrim
1 Kessig Wolf
2 Harvest Pyre
7 Mountain
2 Villagers of Estwald
1 Hamlet Captain
1 Festerhide Boar
</textarea>
</div>
<div class="unit size1of4"><h3>Bleu-noir :</h3>
<textarea cols = "25" rows="8">
2 Selhoff Occultist
1 Sturmgeist
1 Hysterical Blindness
1 Village Cannibals
1 Spectral Flight
2 Deranged Assistant
1 Skirsdag High Priest
1 Skaab Goliath
2 Dead Weight
1 Altar's Reap
1 Undead Alchemist
1 Skeletal Grimace
1 Fortress Crab
9 Swamp
1 Moon Heron
8 Island
1 Ghoulraiser
1 Stitched Drake
1 Army of the Damned
1 Vampire Interloper
1 Tribute to Hunger
1 Manor Skeleton
</textarea>


</div>
<div class="unit size1of4 lastUnit"><h3>Vert-noir :</h3>
<textarea cols="25" rows="8">
1 Lumberknot
3 Darkthicket Wolf
1 Spidery Grasp
1 Bloodline Keeper
1 Silver-Inlaid Dagger
3 Villagers of Estwald
1 Somberwald Spider
1 Caravan Vigil
1 Boneyard Wurm
1 Avacyn's Pilgrim
6 Swamp
1 Brain Weevil
1 Ulvenwald Mystics
1 Dead Weight
11 Forest
1 Sever the Bloodline
1 Manor Gargoyle
2 Orchard Spirit
1 Kindercatch
1 Prey Upon</textarea>
</div>
</div>
</div>



